# -FrontPage-

Options -Indexes
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName icbn.addr.com
AuthUserFile /usr50/home/icbn/public_html/_vti_pvt/service.pwd
AuthGroupFile /usr50/home/icbn/public_html/_vti_pvt/service.grp
AddType application/x-httpd-php .php .php3 .htm .html 
